use Mix.Config

config :tgas,
  spam_chat: 123456789 # chat_id where to forward spam messages with sender info

config :tdlib,
  # get api_id ans api_hash at https://my.telegram.org/apps
  api_id: "12315",
  api_hash: "asdfjgasdgkfjhak3qhejrgsjkhgje",

  # directory where your tdlib data is stored, including authorization
  db: "/home/user/tdlib_db"
